
<div class="text-primary text-right">
  <div>
   Total of <b class="text-warning"> {{this.employeeService.empjsondata[0].data?.length}} </b>employees

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)=" openDialog()">
        <mat-icon>person_add</mat-icon>
        <span>Add User</span>
      </button>
      <!-- <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button> -->
    </mat-menu>
  </div>
</div>

<div class="card-deck">
 <ng-container *ngFor="let employee of this.employeeService!.empjsondata[0]!.data! | paginate: { itemsPerPage: itemperpage, currentPage: page }  ">
<div class="card m-3" style="min-width: 12rem;max-width:10.5%">
  <img class="card-img-top imageThumbnail" [src]="this.employee.avatar"/>


<!-- <img class="card-img-top imageThumbnail" [src]="employee!.avatar"/> -->
<div class="card-footer text-center" >
  <a (click)='empdeils(employee)'> {{employee.first_name}}   {{employee.last_name}} </a>
</div>
</div>
  </ng-container>

</div>
<div class="d-flex flex-row-reverse">
  <pagination-controls (pageChange)="page= $event"></pagination-controls>
</div>
