<div class="text-primary text-right">
   Total of <b class="text-warning"> {{employeelist?.total}} </b>employees
</div>
<div class="card-deck">
 <ng-container *ngFor="let employee of employeelist?.data! | paginate: { itemsPerPage: itemperpage, currentPage: page }  ">
<div class="card m-3" style="min-width: 12rem;max-width:10.5%">

<img class="card-img-top imageThumbnail" [src]="employee.avatar" asp-append-version="true"/>
<div class="card-footer text-center" >
  <a (click)='empdeils(employee)'> {{employee.first_name}}   {{employee.last_name}} </a>
</div>
</div>
  </ng-container>

</div>
<div class="d-flex flex-row-reverse">
  <pagination-controls (pageChange)="page= $event"></pagination-controls>
</div>
