<div class="container center">
  <form  autocomplete="off" (submit)="onSubmit()">
<div class="row">
	<div class="col-md-4">
      <div class="card m-4 center">
          <div class="card">
              <div class="card-body text-center">
                  <img class="card-img-top imageThumbnailform" src="assets/img/noimage.png" asp-append-version="true" />
              </div>
          </div>
      </div>
	</div>
	<div class="col-md-7">
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" class="form-control" name="first_name" id="name"
       placeholder="First Name" formControlName='first_name'>
    </div>
    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input type="text" class="form-control" name="last_name" id="position"
       placeholder="Last Name" formControlName='last_name'>
    </div>
    <div class="form-group">
      <label for="Email">Email Address</label>
      <input type="text" class="form-control" name="Email" id="Email"
       placeholder="Email Address"  formControlName='Email'>
    </div>
    <div class="form-group">
      <label for="avatar">Upload Photo</label>
          <div class="custom-file">
              <input for="avatar" class="form-control custom-file-input" formControlName='avatar'>
              <label class="custom-file-label">Choose File...</label>
          </div>
       </div>
       <div class="form-group row">
        <div class="col-sm-10">
            <button class="btn btn-primary" type="submit" >Submit</button>
      </div>
    </div>
	</div>
</div>


</form>
</div>
