@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.button-row button{
  margin: 5px;
}
.containers {
  border: 1px solid #f3efef;
  border-radius: 1;
  }
  .imageThumbnail {
    height: 200px;
    width:auto;
}

.imageThumbnailform {
  height: 300px;
  width: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
